name: Build and Deploy to Azure Container Apps

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Verify Azure Login
        run: az account show


      - name: Login to ACR
        run: az acr login --name ${{ secrets.ACR_NAME }}

      - name: Build image
        run: docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/kahoot-fastapi:${{ github.sha }} .

      - name: Push image
        run: docker push ${{ secrets.ACR_NAME }}.azurecr.io/kahoot-fastapi:${{ github.sha }}

      - name: Update Container App
        run: az containerapp update --name ${{ secrets.CONTAINER_APP_NAME }} --resource-group ${{ secrets.RESOURCE_GROUP }} --image ${{ secrets.ACR_NAME }}.azurecr.io/kahoot-fastapi:${{ github.sha }}
